@import "globals";

#homepage-content {
  hr {
    box-shadow: 2px 2px 4px #cccccc;
  }
  h1, h2, h3 {
    font-family: 'Bangers', cursive;
  }
  h1 {
    font-size: 34pt;
  }
  h2 {
    font-size: 24pt;
  }
  h3 {
    font-size: 18pt;
  }
  p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 12pt;
  }
  .heading-row {
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
    .headshot {
      float:left;
      margin-right: 12px;
      width: 178px;
      padding-bottom: 1000px;
      margin-bottom: -1000px;
      #homepage-headshot {
        width: 178px;
        height: 215px;
        box-shadow: 2px 2px 4px $dark-grey;
      }
    }
    .headline {
      float:left;
      max-width: 500px;
      h1 {
        margin-top: 0px;
        text-shadow: 2px 2px 1px $green;
      }
      h3 {
        margin-top: -12px;
        text-shadow: 2px 2px 1px $light-grey;
      }
    }
  }
  #projects-section {
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
    h2 {
      margin-top: 10px;
      margin-bottom: -15px;
      text-shadow: 2px 2px 1px $light-grey;
    }
    #appium-logo {
      width: 189px;
      height: 46px;
      margin-top: -5px;
      margin-bottom: 5px;
    }
  }
}