.navbar-default {
  background-color: #ccff99;
  color: #ff9900;
  font-family: 'Economica', sans-serif;
  font-weight: 700;
  font-size: 16pt; }
  .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    font-size: 24pt;
    color: #ff9900; }
  .navbar-default .navbar-nav > li.active > a {
    color: #ccff99;
    background-color: #ff9900;
    box-shadow: 0px 0px 8px #ffad33; }
  .navbar-default .navbar-nav > li.active > a:hover {
    color: #ccff99;
    background-color: #ff9900;
    box-shadow: 0px 0px 8px #ffad33;
    text-shadow: 2px 2px 1px #555555; }
  .navbar-default .navbar-nav > li > a:hover {
    color: orange;
    background-color: #ccff99; }

#homepage-content hr {
  box-shadow: 2px 2px 4px #cccccc; }
#homepage-content h1, #homepage-content h2, #homepage-content h3 {
  font-family: 'Bangers', cursive; }
#homepage-content h1 {
  font-size: 34pt; }
#homepage-content h2 {
  font-size: 24pt; }
#homepage-content h3 {
  font-size: 18pt; }
#homepage-content p {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 12pt; }
#homepage-content .heading-row {
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto; }
  #homepage-content .heading-row .headshot {
    float: left;
    margin-right: 12px;
    width: 178px;
    padding-bottom: 1000px;
    margin-bottom: -1000px; }
    #homepage-content .heading-row .headshot #homepage-headshot {
      width: 178px;
      height: 215px;
      box-shadow: 2px 2px 4px #555555; }
  #homepage-content .heading-row .headline {
    float: left;
    max-width: 500px; }
    #homepage-content .heading-row .headline h1 {
      margin-top: 0px;
      text-shadow: 2px 2px 1px #ccff99; }
    #homepage-content .heading-row .headline h3 {
      margin-top: -12px;
      text-shadow: 2px 2px 1px #cccccc; }
#homepage-content #projects-section {
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto; }
  #homepage-content #projects-section h2 {
    margin-top: 10px;
    margin-bottom: -15px;
    text-shadow: 2px 2px 1px #cccccc; }
  #homepage-content #projects-section #appium-logo {
    width: 189px;
    height: 46px;
    margin-top: -5px;
    margin-bottom: 5px; }

#resume-content h1 {
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 34pt; }
#resume-content div.section-header {
  margin-top: 35px; }
#resume-content div.row {
  float: left;
  vertical-align: middle;
  padding-bottom: 20px;
  width: 100%; }
#resume-content div.row-info {
  display: table-cell;
  height: 100px;
  vertical-align: middle; }
  #resume-content div.row-info div.row-content {
    display: inline-block;
    font-size: 12pt; }
  #resume-content div.row-info span.time {
    font-size: 18pt;
    font-weight: 700; }
  #resume-content div.row-info span.bold {
    font-weight: 700; }
#resume-content hr.top-hr {
  box-shadow: 2px 2px 4px #cccccc; }
#resume-content hr.thin {
  border: 1px solid #cccccc;
  box-shadow: none;
  margin-top: 0px; }
#resume-content div.icon-area {
  float: left;
  width: 125px;
  height: 100px;
  text-align: center;
  vertical-align: middle; }
#resume-content img.logo {
  text-align: center;
  vertical-align: middle; }
#resume-content #education-icon {
  float: left;
  margin-right: 10px;
  width: 36px;
  height: 36px; }
#resume-content #cmu-logo {
  float: left;
  width: 100px;
  height: 100px; }
#resume-content #scs-logo {
  float: left;
  width: 120px;
  height: 100px; }
#resume-content hr.small-spacer {
  height: 3px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: white; }
#resume-content hr.big-spacer {
  height: 15px;
  border: 0px;
  color: white; }
#resume-content .fa-briefcase {
  float: left;
  margin-top: 5px;
  margin-right: 15px; }
#resume-content #ms-logo {
  float: left;
  width: 100px;
  height: 100px; }
#resume-content #zoosk-logo {
  float: left;
  width: 100px;
  height: 36px; }

div#main-content-view {
  padding-left: 10px;
  padding-right: 10px;
  width: 95%; }

hr {
  border: 1px solid #555555;
  width: 100%; }

body html {
  height: 100%; }

.container {
  min-height: 100%; }

div.footer {
  height: 20px;
  width: 100%;
  padding-left: 15px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: #ccff99;
  color: #555555;
  font-family: 'Ropa Sans', sans-serif; }
  div.footer a, div.footer a:visited, div.footer a:active {
    color: #ff9900; }
  div.footer a:hover {
    text-shadow: 1px 1px 1px #cccccc;
    text-decoration: none; }
