<div id="homepage-content">
    <div class="heading-row">
        <div class="headshot">
            <span class="helper"></span>
            <img id= "homepage-headshot" src="images/dan1.jpg" />
        </div>
        <div class="headline">
            <h1>Dan Cuellar</h1>
            <h3>International Man of Quality</h3>
            <p class="subtext">
                Currently known to be managing testing for Zoosk in San Francisco, Dan is a well-trained and very
                dangerous manager of quality assurance practices. In 2011, he created the mobile automation framework
                known as Appium. In the past, he has worked as an operative for Microsoft on products such as
                Office.com, Outlook for Mac and Excel. He has been known to show up to speak at conferences related
                to quality assurance and test automation.
            </p>
        </div>
    </div>
    <div id="projects-section">
        <h2>Projects</h2>
        <hr />
        <div><img id="appium-logo" src="images/appium.png" /></div>
        <p>Appium is a cross-platform mobile automation framework for writing user interface automation for
        iOS and Android applications. Dan started Appium back in 2011 as a means to mitigate the risks of
        releasing an iOS application. Due to the frequently lengthy AppStore review process, mistakes in an iOS
        application can have long-lived consequences for your business.</p>
    </div>
</div>