<div id="resume-content">
    <h1>Résumé</h1>
    <hr class="top-hr"/>
    <hr class="small-spacer" />
    <div class="section-header">
        <img id="education-icon" src="images/icons/education.png" /><h2>Education</h2>
    </div>
    <hr class="thin" />
    <div class="row">
        <div class="icon-area">
        <img id="cmu-logo" src="images/cmu.png" />
            <!--<img id="scs-logo" src="images/scs.jpg" />-->
        </div>
        <div class ="row-info">
            <div class="row-content">
                <span class="time">2007</span><br />
                <span class="bold">BS in Computer Science</span> &bull; School of Computer Science<br />
                <span class="bold">Minor in Music Technology</span> &bull; College of Fine Arts
            </div>
        </div>
    </div>
    <hr class="big-spacer" />
    <div class="section-header">
        <i class="fa fa-2x fa-briefcase"></i><h2>Work</h2>
    </div>
    <hr class="thin" />
    <div class="row">
        <div class="icon-area">
            <img id="zoosk-logo" src="images/zoosk.png" />
        </div>
        <div class ="row-info">
            <div class="row-content">
                <span class="time">2011-present</span><br />
                <span class="bold">Engineering Manager</span> &bull; Test<br />
                <p>
                    I currently manage the test organization at Zoosk.com. The Test Organization consists of QA
                    Engineers who perform manual testing and software engineers who write automated tests and build and
                    maintain infrastructure to facilitate testing. I grew the from a team of 2 engineers who performed
                    exclusively manual testing on the website to a team of 9 that performed both manual and automated
                    testing for the website, iOS, and Android applications.
                </p>
                <p>
                    While managing the test organization I created Appium which eventually, through the help of the
                    open-source community, became the most popular cross-platform mobile automation tool. My team also
                    created tools that improved the company's ability to perform testing efficiently. I also managed the
                    R&D team. The Research and Development Team aims to hire, develop, and onboard young software
                    engineers by allowing them to investigate and experiment with new technologies.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="icon-area">
            <img id="ms-logo" class="logo" src="images/ms.png" />
            <!--<img id="scs-logo" src="images/scs.jpg" />-->
        </div>
        <div class ="row-info">
            <div class="row-content">
                <span class="time">2007-2011</span><br />
                <span class="bold">Software Engineer in Test II</span> &bull; Outlook for Mac<br />
                <p>
                    For Outlook for Mac, I was the primary tester for S/MIME, IMAP, and product performance. I built
                    automation suites to and validate the implementation of the IMAP protocol across all email providers
                    and monitor product performance. (responsiveness, load times, etc.)
                </p>
                <span class="bold">Software Engineer in Test </span> &bull; Office.com<br />
                <p>
                    At Office.com, I was the primary tester for the clipart experience in Office 2010. I performed white-box and
                    black-box testing of the experience on the office.com website and inside the Office applications.
                    I wrote automated tests to validate the clipart experience on the web.
                </p>
            </div>
        </div>
    </div>
</div>